#root {
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

.title {
    text-align: center;
    align-self: center;
    font-size: 24px;
    font-weight: bold;
}

.refraction-container {
    display: grid;
    grid-template-areas: "stack";
}

.refraction-layer {
    grid-area: stack;
    width: 100%;
    height: 100%;
}

.site-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*? ======================== ABOUT ME ======================== */

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/*? ======================== TIMELINE ======================== */

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
}

.tag-toggle {
    animation: fadeIn 0.3s ease-out;
}