#root {
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

.title {
    text-align: center;
    align-self: center;
    font-size: 24px;
    font-weight: bold;
}

.refraction-container {
    display: grid;
    grid-template-areas: "stack";
}

.refraction-layer {
    grid-area: stack;
    width: 100%;
    height: 100%;
}
/*? ======================== ABOUT ME ======================== */

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/*? ======================== TIMELINE ======================== */

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
}

.tag-toggle {
    animation: fadeIn 0.3s ease-out;
}

/*? ======================== FOOTER ======================== */

.footer {
    background-color: #ffffff;
    padding: 60px 0px;
    /* font-family: 'Inter', sans-serif; */
    width: 100%;
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
    gap: 40px;
}

.footer-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.footer-column h3 {
    color: #b5b5b5;
    font-size: 1.2rem;
    margin-bottom: 25px;
    font-weight: 600;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 12px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 1.1rem;
    transition: opacity 0.2s;
}

.footer-column ul li a:hover {
    opacity: 0.7;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-box {
    width: 35px;
    height: 35px;
    background-color: #1a1a1b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.1rem;
    transition: transform 0.2s;
}

.social-box:hover {
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr 1fr;
    }
}